h1{
    font-size: 60px;
    color:blueviolet;
    text-align: center;
}
img {
    margin: auto;
    display: block;  
 }
 h3{
     font-family: 'Gill Sans';
     color: crimson;
 }
 ul{
     background-color: rgba(173, 250, 206, 0.7);
     width: 100px;
     height: 70px;
     padding-top: 10px;
 }
 ol{
     background-color: rgba(247, 188, 142, 0.7);
     width: 100px;
     height: 70px;
     padding-top: 10px;

 }
 p{
     color:  #477beb ;
    font-weight:bold 
 }
 .destacados1{
     background-color: #f9b9d1;
   

 }
 .destacados2{
     font-style: normal;
     border-style: outset ;
 }
 .destacados3{
     font-style: italic;
     color:  #7b66b6 ;
 }